html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden; }

body * {
  display: block; }

.topnav {
  padding: 5px;
  height: 70px;
  background-color: white;
  overflow: hidden; }
  .topnav a {
    float: left;
    color: black;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 125%; }

.banner-menu {
  background-color: black;
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 99%, black 100%), url("../img/banner6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0px solid rgba(0, 0, 0, 0);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  filter: grayscale(0%);
  margin: 0rem;
  padding: 0rem;
  height: 48vh;
  width: 100%; }

.banner-order {
  background-color: black;
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 99%, black 100%), url("../img/banner5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0px solid rgba(0, 0, 0, 0);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  filter: grayscale(0%);
  margin: 0rem;
  padding: 0rem;
  height: 48vh;
  width: 100%; }

.header-home {
  padding-left: 45%;
  margin-top: 3%; }

div.contact-route div.contactgegevens {
  margin-top: 5vh; }
  div.contact-route div.contactgegevens div.header h1 {
    color: #333;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 2.1rem; }
  div.contact-route div.contactgegevens div.container-cards div.row div.cards a.button-box {
    margin-top: 3vh;
    text-decoration: none;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border: 1px solid #333;
    height: 5rem;
    width: 100%;
    background-color: white;
    transition: background-color 0.7s ease;
    box-shadow: 0px 0px 5px #333; }
  div.contact-route div.contactgegevens div.container-cards div.row div.cards a.button-box:hover {
    color: white;
    background-color: #333; }

div.contact-route div.parkeergelegenheid {
  margin-top: 5vh; }
  div.contact-route div.parkeergelegenheid div.header h1 {
    color: #333;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 2.1rem; }

div.contact-route div.google-maps {
  background-color: #e3e3e3;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%); }

table {
  display: table;
  text-align: left; }
  table > tbody > tr {
    display: table-row; }
    table > tbody > tr > th {
      display: table-cell;
      padding: 0.5rem; }
    table > tbody > tr > td {
      display: table-cell;
      padding: 0.5rem; }

.hoofd-start-reserveren {
  padding-top: 2.5%;
  padding-bottom: 1.25%; }

.banner-start-reserveren {
  width: 100%;
  height: fit-content;
  border: 5px solid #333; }

.header-start-reserveren {
  padding-left: 42%;
  padding-top: 1.25%; }

.header-streep-reserveren {
  width: 70%;
  padding-left: 25%; }

.content-start-reserveren {
  padding-left: 2.5%;
  padding-right: 5%;
  padding-top: 1.25%; }

.col-reserveren-6 {
  width: 50%; }

.titels-start-reserveren {
  border: #333 1px solid;
  color: white;
  background-color: #ff8000;
  font-size: 175%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1.25%; }

.p_welkom-start-reserveren {
  display: inline-block;
  width: 100%;
  text-align: center; }

.button-menukaart-positie {
  padding-left: 30%;
  padding-top: 2.5%; }

.button-menukaart {
  width: 10rem;
  height: 3rem;
  background-color: white;
  color: #333;
  border: #333 1px solid;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 25px;
  padding-top: 1%;
  text-decoration: none; }

.button-menukaart:hover {
  background-color: #ff8000;
  color: white; }

.buttons-reserveren-hoogte {
  padding-top: 5%;
  width: 100%; }

.lunch-button-uitlijning {
  width: 50%;
  text-align: center; }

.button-lunch_diner {
  width: 100%;
  height: 3rem;
  background-color: white;
  color: #333;
  border: #333 1px solid;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 25px;
  padding-top: 1%;
  text-decoration: none; }

.button-lunch_diner:hover {
  background-color: #ff8000;
  color: white; }

.hoofd-tekst-titel-reserveren {
  padding-bottom: 5%; }

.col-button-reserveren-uitlijning {
  width: 100%;
  padding-bottom: 5%; }

.col-buttons-reserveren {
  width: 50%; }

.foto-start-reserveren {
  width: 100%;
  height: 50%;
  border: 5px solid #333;
  padding: 0%; }

.hoofd-reserveren-lunch {
  padding-top: 2%;
  padding-bottom: 1.25%; }

.banner-reserveren-lunch {
  width: 100%;
  height: fit-content;
  border: 5px solid #333; }

.header-reserveren-lunch {
  padding-top: 1.25%;
  text-align: center; }

.content-reserveren-lunch {
  padding-left: 2.5%; }

.lunch-reservation-foto {
  width: 100%;
  height: 50%;
  padding-bottom: 5%; }

.plaatsing-form-reservation1 {
  padding-left: 5%; }

.omlijning-form-reserveren-1 {
  text-align: center;
  border: solid 1px;
  width: 100%;
  padding: 6%; }

.omlijning-reserveren-1 {
  text-align: center;
  border: #333;
  padding-top: 5%; }

.reservation-uitlijning-hoogte {
  padding-top: 5%; }

.label-klantgegevens {
  padding-left: 5%; }

.reservation-uitlijning-datum {
  padding-left: 30%;
  padding-top: 1.25%; }

.date-reservation {
  color: #e3e3e3;
  background-color: #ff8000; }

.reservation-uitlijning-time {
  padding-left: 42.5%;
  padding-top: 1.25%; }

.time-reservation {
  font-size: 100%;
  color: #e3e3e3;
  background-color: #ff8000;
  padding-left: 2.5%; }

.reservation-uitlijning-persons {
  padding-left: 45%;
  padding-top: 1.25%; }

.persons-reservation {
  font-size: 100%;
  color: #e3e3e3;
  background-color: #ff8000;
  padding-left: 2.5%; }

.input-klantgegevens {
  background-color: #ff8000;
  color: #e3e3e3;
  text-align: center; }

.input-klantgegevens::placeholder {
  background-color: #ff8000;
  color: #e3e3e3;
  text-align: center; }

.uitlijning-input-gegevens {
  padding-left: 20%;
  padding-bottom: 1.25%; }

.button-uitlijning-klantgegevens {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%; }

.button-klantgegevens {
  width: 100%;
  background-color: white;
  color: #333;
  border: #333 1px solid;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-decoration: none; }

.button-klantgegevens:hover {
  color: #e3e3e3;
  background-color: #ff8000; }

body > div.container-fluid > div.row > div.col-12 > div.banner-order {
  background-color: black;
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 99%, black 100%), url("../img/banner5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0px solid rgba(0, 0, 0, 0);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  filter: grayscale(0%);
  margin: 0rem;
  padding: 0rem;
  height: 48vh;
  width: 100%; }

body > div.container-fluid > div.row > div.col-12 > div.banner-menu {
  background-color: black;
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 99%, black 100%), url("../img/banner6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0px solid rgba(0, 0, 0, 0);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  filter: grayscale(0%);
  margin: 0rem;
  padding: 0rem;
  height: 48vh;
  width: 100%; }

body > div.container-fluid > div.row > div.col-12 > h1.head {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
  height: 7vh;
  margin-top: 2rem;
  min-height: 5.56rem;
  text-align: center; }
  body > div.container-fluid > div.row > div.col-12 > h1.head > img {
    margin-top: 2rem;
    width: 100%;
    max-width: 30rem; }
  body > div.container-fluid > div.row > div.col-12 > h1.head > span {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    margin-top: 2rem; }
  body > div.container-fluid > div.row > div.col-12 > h1.head > div.category {
    margin: 0.1rem;
    margin-top: 2rem; }
    body > div.container-fluid > div.row > div.col-12 > h1.head > div.category > div.item {
      padding: 0.5rem; }
      body > div.container-fluid > div.row > div.col-12 > h1.head > div.category > div.item > div.item-inhoud {
        border: 1px solid black;
        padding: 0.5rem; }

div.admin-news-page {
  margin-top: 5vh;
  font-family: "Libre Baskerville", serif; }
  div.admin-news-page div.header h1 {
    color: #333;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 2.1rem; }
  div.admin-news-page div.header div.row {
    justify-content: center; }
    div.admin-news-page div.header div.row img.streep {
      width: 350px;
      margin-top: -55px; }
  div.admin-news-page div.container-button {
    margin-top: 3vh;
    margin-bottom: 4vh; }
    div.admin-news-page div.container-button div.row {
      display: flex;
      align-items: center;
      justify-content: center; }
      div.admin-news-page div.container-button div.row div.col-12 a.button {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        height: 5rem;
        width: 100%;
        background-color: #333;
        transition: background-color 0.4s ease;
        box-shadow: 0px 0px 5px #333; }
      div.admin-news-page div.container-button div.row div.col-12 a.button:hover {
        background-color: #1a1a1a; }
  div.admin-news-page div.container-article {
    background-color: white;
    border: 1px solid #333;
    box-shadow: 0px 0px 5px #333;
    padding: 5px; }
    div.admin-news-page div.container-article div.row span {
      color: #9a9da0;
      font-size: 0.8rem; }

div.add-news-page,
div.change-news-page {
  margin-top: 5vh;
  font-family: "Libre Baskerville", serif; }
  div.add-news-page div.header h1,
  div.change-news-page div.header h1 {
    color: #333;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 2.1rem; }
  div.add-news-page div.header div.row,
  div.change-news-page div.header div.row {
    justify-content: center; }
    div.add-news-page div.header div.row img.streep,
    div.change-news-page div.header div.row img.streep {
      width: 350px;
      margin-top: -55px; }
  div.add-news-page div.container,
  div.change-news-page div.container {
    margin-top: 3vh;
    background-color: white;
    border: 1px solid #333;
    box-shadow: 0px 0px 5px #333; }
    div.add-news-page div.container form.row div.row,
    div.change-news-page div.container form.row div.row {
      margin-top: 10px; }
    div.add-news-page div.container form.row button.btn,
    div.change-news-page div.container form.row button.btn {
      color: white;
      font-size: 1.2rem;
      border-top: 1px solid #333;
      border-radius: 0% !important;
      background-color: #333;
      transition: background-color 0.4s ease; }
    div.add-news-page div.container form.row button.btn:hover,
    div.change-news-page div.container form.row button.btn:hover {
      background-color: #1a1a1a; }

div.add-category-page {
  margin-top: 5vh;
  font-family: "Libre Baskerville", serif; }
  div.add-category-page div.header h1 {
    color: #333;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 2.1rem; }
  div.add-category-page div.header div.row {
    justify-content: center; }
    div.add-category-page div.header div.row img.streep {
      width: 350px;
      margin-top: -55px; }
  div.add-category-page div.container {
    margin-top: 3vh; }
    div.add-category-page div.container div.row div.col-12 form.row {
      background-color: white;
      border: 1px solid #333;
      box-shadow: 0px 0px 5px #333; }
      div.add-category-page div.container div.row div.col-12 form.row div.row {
        margin-top: 10px; }
      div.add-category-page div.container div.row div.col-12 form.row button.btn {
        color: white;
        font-size: 1.2rem;
        border-top: 1px solid #333;
        border-radius: 0% !important;
        background-color: #333;
        transition: background-color 0.4s ease; }
      div.add-category-page div.container div.row div.col-12 form.row button.btn:hover {
        background-color: #1a1a1a; }

div.news-page {
  font-family: "Libre Baskerville", serif;
  background-image: url("../img/news_banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: -20px; }
  div.news-page div.banner {
    display: flex;
    justify-content: center; }
    div.news-page div.banner div.header {
      text-align: center; }
      div.news-page div.banner div.header h1 {
        position: static;
        margin-top: 20vh;
        color: white;
        text-align: center;
        font-family: "Libre Baskerville", serif;
        font-size: 2.1rem; }
      div.news-page div.banner div.header div.row {
        display: flex;
        justify-content: center; }
        div.news-page div.banner div.header div.row img.streep {
          width: 350px;
          margin-top: -55px; }
  div.news-page div.articles {
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    background: white;
    color: #333;
    max-width: 1000px;
    padding: 0px; }
    div.news-page div.articles div.categories {
      background-color: #333; }
      div.news-page div.articles div.categories a.categories-button {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        padding: 1rem;
        width: 100%;
        background-color: #333;
        transition: background-color 0.4s ease; }
      div.news-page div.articles div.categories a.categories-button:hover {
        background-color: #1a1a1a; }
    div.news-page div.articles div.articles-container {
      background-color: white;
      padding: 20px; }
      div.news-page div.articles div.articles-container div.info-row {
        display: flex;
        justify-content: right; }
        div.news-page div.articles div.articles-container div.info-row h6.datetime {
          color: #9a9da0;
          font-size: 0.8rem; }
        div.news-page div.articles div.articles-container div.info-row h6.category {
          color: #9a9da0;
          font-size: 0.8rem;
          justify-content: right; }
      div.news-page div.articles div.articles-container div.image-row {
        display: flex;
        align-items: flex-start;
        margin-top: 15px; }
        div.news-page div.articles div.articles-container div.image-row img {
          width: 100%;
          max-height: 500px;
          object-fit: contain; }
      div.news-page div.articles div.articles-container div.article-row {
        margin-top: 15px; }
        div.news-page div.articles div.articles-container div.article-row div.row div.title {
          word-wrap: break-word; }
          div.news-page div.articles div.articles-container div.article-row div.row div.title a {
            font-size: 1.3rem;
            color: #333;
            font-weight: bold;
            text-decoration: none; }
          div.news-page div.articles div.articles-container div.article-row div.row div.title a:hover {
            text-decoration: underline; }
        div.news-page div.articles div.articles-container div.article-row div.row div.introduction {
          margin-top: 15px;
          word-wrap: break-word;
          font-size: 1rem;
          color: #333; }
        div.news-page div.articles div.articles-container div.article-row div.row div.read-more {
          display: flex;
          align-items: flex-end;
          margin-top: 5px; }
          div.news-page div.articles div.articles-container div.article-row div.row div.read-more a {
            font-size: 1rem;
            color: #333;
            font-style: italic;
            text-decoration: none; }
          div.news-page div.articles div.articles-container div.article-row div.row div.read-more a:hover {
            text-decoration: underline; }
      div.news-page div.articles div.articles-container div.custom-hr {
        background-color: #333;
        height: 2px;
        width: 80%;
        margin-left: 10%;
        margin-top: 30px;
        margin-bottom: 30px; }

.header-login {
  padding-left: 42.5%;
  margin-top: 3%; }

.login {
  padding-top: 10px; }

.email {
  background-color: #ff8000;
  color: white;
  width: 42.5%; }
