
.topnav {
    height: 50px;
    background-color: white;
    overflow: hidden;
  }

  .topnav a {
  float: left;
  color: black;
  font-family: baskerville-urw, sans-serif;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.overflow
{
    overflow: visible;
}

.login
{
    padding-top: 125px;
}

.reserveren
{
    padding-top: 50px;
}
