.topnav {
    height: 50px;
    background-color: white;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: black;
    font-family:'Libre Baskerville', serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 175%;
}

.overflow {
    overflow: visible;
}

.login {
    padding-top: 125px;
}
/* styling reserveren */
.reserveren {
    padding-top: 50px;
}

.button {
    width: 100%;
    height: 3rem;
    background-color: black;
    color: orange;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 25px;
    padding-top: 1%;
}

body {
    font-family: 'Libre Baskerville', serif;
}


/* Styling voor contact & route */

.header>h1 {
    text-align: center;
    font-size: 2.1rem;
    text-decoration: underline orange;
}

.routebeschrijving>.row>.col-3>p {
    color: #333;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
}

.routebeschrijving>.row>.col-3>a {
    color: #333;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    border: 1px solid #333;
    margin: 20px;
    padding: 1.7rem 6rem;
    text-decoration: none;
}

.routebeschrijving>.row>.col-3>a:hover {
    color: white;
    background-color: #333;
    transition: .7s;
}