.content {
    @include flexcenter(column,center);
    height: 16vh;
    min-height: 230px;
    text-align: center;
}

.buttons {
    @include flexcenter(row,center);
    height: 8vh;
    text-align: center;

    > a > div {
        @include flexcenter(row,center);
        border: 1px solid $black;
        color: $text;
        font-size: 1.1rem;
        height: 3rem;
        margin: 0rem 1.2rem;
        text-decoration: none;
        transition: .5s;
        transition-timing-function: ease-in-out;
        width: 200px;

        &:hover {
            background: $text;
            color: $main;
        }
    }
}

@media only screen and (max-width: 740px) {
    .content {
        min-height: 140px;
    }

    .buttons {
        @include flexcenter(column,center);
        width: 100%;
        min-height: 140px;

        > a {
            @include flexcenter(row,center);
            width: 100%;

            > div {
                height: 3rem;
                margin: .5rem 1rem;
                width: 90%;
            }
        }
    }
}