html, body {
    color: $text;
    font-family: $normalfont, 'Times New Roman', sans-serif;
    font-size: 18px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body * {
    display: block;
}

@media only screen and (max-width: 740px) {
    html, body {
        font-size: 12px;
    }
}