html, body {
  color: #333;
  font-family: "Libre Baskerville", "Times New Roman", sans-serif;
  font-size: 18px;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body * {
  display: block;
}

.head {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7vh;
  min-height: 100px;
  text-align: center;
}

.head > img {
  margin-top: 2rem;
  width: 20rem;
}

@media only screen and (max-width: 740px) {
  html, body {
    font-size: 12px;
  }
}

@media only screen and (max-width: 260px) {
  html:before {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
    content: 'Apparaat te klein';
    font-family: "Libre Baskerville", "Times New Roman", sans-serif;
    font-size: 18px;
    height: 100vh;
    width: 100%;
  }
  body {
    display: none;
  }
}

header {
  position: relative;
  height: 8rem;
}

header nav {
  background: white;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header nav > ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0rem 2%;
  padding: 0rem;
}

header nav > ul > li {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0rem;
  padding: 0rem;
  width: 33%;
}

header nav > ul > li > a {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #333;
  font-size: 1.1rem;
  height: 8rem;
  text-decoration: none;
  transition: .5s;
  transition-timing-function: ease-in-out;
  width: 100%;
}

header nav > ul > li > a:hover {
  background-color: rgba(255, 128, 0, 0.2);
  color: black;
  text-decoration: none;
  transition: .5s;
}

@media only screen and (max-width: 740px) {
  header {
    height: 14rem;
  }
  header nav > ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem;
    padding: 0rem;
    width: 100%;
  }
  header nav > ul > li {
    width: 100%;
  }
  header nav > ul > li#center > a {
    height: 8rem;
    width: 100%;
  }
  header nav > ul > li > a {
    height: 3rem;
    width: 100%;
  }
}

.banner {
  background-color: #ff8000;
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 99%, black 100%), url("../img/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  height: 48vh;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8vh;
  min-height: 25px;
  text-align: center;
}

.alert {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.alert > .main {
  background: #333;
  border: 1px solid #ff8000;
  border-radius: 1rem;
  color: #ff8000;
  float: right;
  margin: 25%;
  padding: 1rem;
}

.alert > .main > a.close > svg {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  fill: #ff8000;
}

.alert > .main > a.action {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

.alert > .main > a.action > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;
  border: 1px solid black;
  box-shadow: 0 3px 13px 0 rgba(14, 9, 73, 0.2), 0 11px 21px 0 rgba(255, 166, 220, 0.004);
  color: #333;
  cursor: pointer;
  font-size: 1.1rem;
  height: 3rem;
  margin: 0rem 1.2rem;
  text-decoration: none;
  transition: .5s;
  width: 200px;
}

.alert > .main > a.action > div:hover {
  background: #ff8000;
  color: white;
  transform: scale(1.1);
}

/*
@keyframes fadeOut{
    from{
        opacity: 1;
    } 
    to{
        opacity: 0;
    }
}
    
@keyframes fadeIn{
    from{
        opacity: 0;
    } 
    to{
        opacity: 1;
    }
}
*/
.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 16vh;
  min-height: 230px;
  text-align: center;
}

.buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 8vh;
  text-align: center;
}

.buttons > a {
  text-decoration: none;
}

.buttons > a > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;
  border: 1px solid black;
  box-shadow: 0 3px 13px 0 rgba(14, 9, 73, 0.2), 0 11px 21px 0 rgba(255, 166, 220, 0.004);
  color: #333;
  cursor: pointer;
  font-size: 1.1rem;
  height: 3rem;
  margin: 0rem 1.2rem;
  text-decoration: none;
  transition: .5s;
  width: 200px;
}

.buttons > a > div:hover {
  background: #ff8000;
  color: white;
  transform: scale(1.1);
}

@media only screen and (max-width: 740px) {
  .buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 160px;
  }
  .buttons > a {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .buttons > a > div {
    background: white;
    color: #333;
    height: 3rem;
    margin: .5rem 1rem;
    width: 90%;
  }
  .buttons > a > div:hover {
    background: #ff8000;
    color: white;
  }
}

iframe {
  border: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  filter: grayscale(100%);
  height: 22rem;
  min-height: 180px;
  width: 100%;
}

.location {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 1rem;
}

.location > .text {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .5rem;
}

.location > .text .svg {
  margin: 0rem 2rem 0rem 0rem;
}

.location > .text .svg > svg > path {
  fill: #333;
}

.locationroute {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.locationroute > a {
  text-decoration: none;
}

.locationroute > a > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;
  border: 1px solid black;
  box-shadow: 0 3px 13px 0 rgba(14, 9, 73, 0.2), 0 11px 21px 0 rgba(255, 166, 220, 0.004);
  color: #333;
  cursor: pointer;
  font-size: 1.1rem;
  height: 3rem;
  margin: 0rem 1.2rem;
  text-decoration: none;
  transition: .5s;
  width: 200px;
}

.locationroute > a > div:hover {
  background: #ff8000;
  color: white;
  transform: scale(1.1);
}

@media only screen and (max-width: 740px) {
  .location {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 2rem;
  }
  .location > .text > .svg > svg {
    margin: 0rem;
  }
  .locationroute {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100px;
  }
  .locationroute > a {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    width: 100%;
  }
  .locationroute > a > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    color: #333;
    height: 3rem;
    margin: 0.5rem 0rem;
    width: 90%;
  }
  .locationroute > a > div:hover {
    background: #ff8000;
    color: white;
  }
}
