.content {
    @include flexcenter(column,center);
    height: 16vh;
    min-height: 230px;
    text-align: center;
}

.buttons {
    @include flexcenter(row,center);
    height: 8vh;
    text-align: center;


}

@media only screen and (max-width: 740px) {

    .buttons {
        @include flexcenter(column,center);
        min-height: 160px;
        margin: 0rem;
        padding: 0rem;
        width: 100%;
    }
}