iframe {
    border: 0px solid $alpha;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    filter: grayscale(100%);
    height: 48vh;
    min-height: 180px;
    width: 100%;
}

.parking {
    @include flexcenter(row,center);
    margin: 1rem 1rem;
        
    > .text {
        @include flexcenter(row,center);
        margin: .5rem;

        > img {
            width: 75%;
        }

        .svg {
            margin: 0rem 2rem 0rem 0rem;

            > svg > path {
                fill: $text;
            }
        }
    }
}

.location {
    @include flexcenter(row,center);
    margin: 1rem 1rem;
        
    > .text {
        @include flexcenter(row,center);
        margin: .5rem;

        .svg {
            margin: 0rem 2rem 0rem 0rem;

            > svg > path {
                fill: $text;
            }
        }
    }
}

.locationroute {
    @include flexcenter(row,center);
}

@media only screen and (max-width: 740px) {
    
    div {
        @include flexcenter(column,center);
        margin: 1rem 2rem;

        > .text > .svg > svg {
            margin: 0rem;
        }
    }
    
    .locationroute {
        @include flexcenter(column,center);
        min-height: 100px;
        width: 100%;
    }
}