.reservation {
    @include flexcenter(row,center);
    margin: 1rem;

    > div {
        @include flexcenter(column,center);
        margin: 0rem 2rem;
        min-height: 30.5rem;
        width: 35%;

        > h1 {
            font-size: 1.3rem;
        }
        
        > div {
            @include flexcenter(row,center);
        }
        
        > img {
            margin: 0rem;
            width: 90%;
        }
    }
}

@media only screen and (max-width: 740px) {

    .reservation {
        @include flexcenter(column,center);
        margin: 0rem;
        width: 100%;

        > .tekst1 {
            @include flexcenter(column,center);
            margin: 0rem;
            width: 100%;
            min-height: 35rem;

            > p {
                margin: 1rem 2rem;
            }
    
            > div {
                @include flexcenter(column,center);
                width: 100%;
            }
        }

        > .tekst2 {
            @include flexcenter(column,center);
            margin: 0rem;
            width: 100%;
            min-height: 30rem;
    
            > div {
                @include flexcenter(column,center);
                width: 100%;
            }

            > img {
                margin: 3rem 0rem;
            }
        }
    }
}