.head {
    @include flexcenter(column,center,center);
    margin-top: 3%;

    > svg {
        height:3rem;
        width: 25%;
    }
}

.content {
    @include margin(0rem,0rem,100%);
    @include flexcenter(column,center,center);
    height: 16vh;
    min-height: 12.7778rem;
    text-align: center;
}

.buttons {
    @include margin(0rem,0rem,100%);
    @include flexcenter(row,center,center);
    height: 15vh;
    text-align: center;
}

@media only screen and (max-width: 740px) {

    .content {
        @include margin(0rem,0rem,100%);
        @include flexcenter(column,center,center);
        min-height: 13.33rem;

    }

    .buttons {
        @include margin(0rem,0rem,100%);
        @include flexcenter(column,center,center);
        min-height: 13.33rem;
    }
}