.logon {
    @include flexcenter(column,center,center);

    > a {
        @include flexcenter(column,center,center);
    }

    > form {
        @include margin(2%,0rem,96%);
        @include flexcenter(column,center,center);
        background-color: $alpha;
        margin-bottom: 3rem;
        max-width: 720px;

        label{
            @include margin(0rem,0rem,98%);
            font-size: 1.5rem;
            min-height: 2rem;
        }

        input{
            @include margin(0rem,0rem,98%);
            background-color: $col2;
            border: 1px solid $text;
            border-radius: 5px;
            font-size: 1.5rem;
            min-height: 2rem;
            font-family: $normalfont, 'Times New Roman', sans-serif;

            &:hover {
                background-color: $col1;
                color: $black;
            }

            &:focus {
                box-shadow: 0 0 0 0.25rem $col1;
            }
        }
    }
}