.header-login {
    padding-left  : 42.5%;
    // padding-top: 10%;
    margin-top    : 3%;
}

.login {
    padding-top: 10px;
}

.email {
    background-color: #ff8000;
    color           : white;
    width           : 42.5%;
}