div.news-page {
    div.container {
        div.row {
            margin-top: 50px;
            border: 1px solid #333;
            span {
                margin-left: -5px;
                margin-top: 5px;
                color: #9a9da0;
                font-size: 0.8rem;
            }
            div.col-3 {
            }
        }
    }
}
