// admin_nieuwsberichten.php
div.admin-news-page {
    margin-top: 5vh;
    font-family: "Libre Baskerville", serif;
    div.header {
        h1 {
            color: #333;
            text-align: center;
            font-family: "Libre Baskerville", serif;
            font-size: 2.1rem;
        }
        div.row {
            justify-content: center;
            img.streep {
                width: 350px;
                margin-top: -55px;
            }
        }
    }
    div.container-button {
        margin-top: 3vh;
        margin-bottom: 4vh;
        div.row {
            display: flex;
            align-items: center;
            justify-content: center;
            div.col-12 {
                a.button {
                    color: white;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.2rem;
                    height: 5rem;
                    width: 100%;
                    background-color: #333;
                    transition: background-color 0.4s ease;
                    box-shadow: 0px 0px 5px #333;
                }
                a.button:hover {
                    background-color: #1a1a1a;
                }
            }
        }
    }
    div.container-article {
        background-color: white;
        border: 1px solid #333;
        box-shadow: 0px 0px 5px #333;
        padding: 5px;
        div.row {
            span {
                color: #9a9da0;
                font-size: 0.8rem;
            }
            // div.col-1 {
            //     div.row {
            //         a.button {
            //             // color: white;
            //         }
            //     }
            // }
        }
    }
}

// toevoegen_nieuwsberichten.php & aanpassen_nieuwsberichten.php
div.add-news-page,
div.change-news-page {
    margin-top: 5vh;
    font-family: "Libre Baskerville", serif;
    div.header {
        h1 {
            color: #333;
            text-align: center;
            font-family: "Libre Baskerville", serif;
            font-size: 2.1rem;
        }
        div.row {
            justify-content: center;
            img.streep {
                width: 350px;
                margin-top: -55px;
            }
        }
    }
    div.container {
        margin-top: 3vh;
        background-color: white;
        border: 1px solid #333;
        box-shadow: 0px 0px 5px #333;
        form.row {
            div.row {
                margin-top: 10px;
            }
            button.btn {
                color: white;
                font-size: 1.2rem;
                border-top: 1px solid #333;
                border-radius: 0% !important;
                background-color: #333;
                transition: background-color 0.4s ease;
            }
            button.btn:hover {
                background-color: #1a1a1a;
            }
        }
    }
}

// admin_categorie.php
div.add-category-page {
    margin-top: 5vh;
    font-family: "Libre Baskerville", serif;
    div.header {
        h1 {
            color: #333;
            text-align: center;
            font-family: "Libre Baskerville", serif;
            font-size: 2.1rem;
        }
        div.row {
            justify-content: center;
            img.streep {
                width: 350px;
                margin-top: -55px;
            }
        }
    }
    div.container {
        margin-top: 3vh;
        div.row {
            div.col-12 {
                form.row {
                    background-color: white;
                    border: 1px solid #333;
                    box-shadow: 0px 0px 5px #333;
                    div.row {
                        margin-top: 10px;
                    }
                    button.btn {
                        color: white;
                        font-size: 1.2rem;
                        border-top: 1px solid #333;
                        border-radius: 0% !important;
                        background-color: #333;
                        transition: background-color 0.4s ease;
                    }
                    button.btn:hover {
                        background-color: #1a1a1a;
                    }
                }
            }
        }
    }
}

// nieuwsberichten.php
div.news-page {
    @include margin(0rem,0rem,100%);
    font-family: "Libre Baskerville", serif;
    background-image: url("../img/news_banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    div.banner {
        display: flex;
        justify-content: center;
        div.header {
            text-align: center;
            h1 {
                position: static;
                margin-top: 20vh;
                color: white;
                text-align: center;
                font-family: "Libre Baskerville", serif;
                font-size: 2.1rem;
            }
            div.row {
                display: flex;
                justify-content: center;
                img.streep {
                    width: 350px;
                    margin-top: -55px;
                }
            }
        }
    }
    div.articles {
        background-color: white;
        background: rgba($color: white, $alpha: 0.4);
        background: white;
        color: #333;
        max-width: 1000px;
        padding: 0px;
        div.categories {
            background-color: #333;
            position: -webkit-sticky;
            position: sticky;
            top: 8rem;
            z-index: 0;
            a.categories-button {
                color: white;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.9rem;
                padding: 1rem;
                width: 100%;
                background-color: #333;
                transition: background-color 0.4s ease;
            }
            a.categories-button:hover {
                background-color: #1a1a1a;
            }
        }
        div.articles-container {
            background-color: white;
            padding: 20px;
            div.info-row {
                display: flex;
                justify-content: right;
                h6.datetime {
                    color: #9a9da0;
                    font-size: 0.8rem;
                }
                h6.category {
                    color: #9a9da0;
                    font-size: 0.8rem;
                    justify-content: right;
                }
            }
            div.image-row {
                display: flex;
                align-items: flex-start;
                margin-top: 15px;
                img {
                    width: 100%;
                    max-height: 500px;
                    object-fit: contain;
                }
            }
            div.article-row {
                margin-top: 15px;
                div.row {
                    div.title {
                        word-wrap: break-word;
                        a {
                            font-size: 1.3rem;
                            color: #333;
                            font-weight: bold;
                            text-decoration: none;
                        }
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                    div.introduction {
                        margin-top: 15px;
                        word-wrap: break-word;
                        font-size: 1rem;
                        color: #333;
                    }
                    div.read-more {
                        display: flex;
                        align-items: flex-end;
                        margin-top: 5px;
                        a {
                            font-size: 1rem;
                            color: #333;
                            font-style: italic;
                            text-decoration: none;
                        }
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            div.custom-hr {
                background-color: #333;
                height: 2px;
                width: 80%;
                margin-left: 10%;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
}

// artikel.php
div.article-page {
    font-family: "Libre Baskerville", serif;
    background-image: url("../img/news_banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: -20px;
    div.article-container {
        background-color: white;
        max-width: 1000px;
        padding: 0px;
        div.banner {
            display: flex;
            justify-content: center;
            img {
                
            }
            div.custom-hr {
                background-color: #333;
                height: 2px;
                width: 80%;
                margin-left: 10%;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
}