.bestellijst {
    @include margin(0rem,0rem,100%);
    @include flexcenter(row,stretch,stretch);
    min-height: 10rem;
    flex-shrink: 0;
    flex-wrap: wrap;

    > .bestel-item {
        @include flexcenter(row,stretch,stretch);

        > a {
            @include margin(2%,0rem,96%);
            @include flexcenter(column,stretch,stretch);
            background: $main;
            border: 1px solid $text;
            border-radius: 10px;
            color: $text;
            min-height: 13rem;
            position: relative;
            text-decoration: none;
            transition: .5s;
            transition-timing-function: ease-in-out;

            &:hover {
                background: $col2;
                color: $black;
                transition: .5s;
                filter: blur(100%);
            }

            > .item-img {
                @include flexcenter(column,stretch,stretch);
                border-radius: 10px 10px 0px 0px;
                border-bottom: 1px solid $black;
                margin: 0rem;
                padding: 0rem;
                width: 100%;
            }

            > h1 {
                @include margin(0rem,1.5%,97%);
                @include flexcenter(row,center,flex-start);
                font-size: 1.3rem;
            }

            > span {
                @include margin(0rem,1.5%,97%);
                @include flexcenter(row,center,flex-start);
                min-height: 2rem;
            }

            > .price {
                @include margin(0rem,2%,96%);
                @include flexcenter(row,flex-end,flex-end);
                bottom: 0;
                font-size: 1.3rem;
                position: absolute;
            }
        }
    }
}

.cat {
    @include margin(3rem 0rem 0rem 0rem,0rem,100%);
    @include flexcenter(column,center,center);
    min-height: 10rem;

    > div {
        @include margin(0rem,0rem,100%);
        @include flexcenter(row,center,center);
        min-height: 2rem;

        > h1 {
            @include margin(0rem,0rem,6.5rem);
            font-size: 1rem;
        }

        > div {
            @include margin(0rem,0rem,16.7rem);
            text-align: right;
        }
    }
}

@media only screen and (max-width: 740px) {
    .bestellijst {
        @include margin(0rem,0rem,100%);
        @include flexcenter(column,stretch,center);

        > .bestel-item {
            @include margin(0rem,0rem,100%);
            @include flexcenter(row,stretch,stretch);

            > a > img {
                display: none !important;
                visibility: none;
            }
        }
    }
}