// styling reserveren

// start pagina reserveren
.hoofd-start-reserveren
{
    padding-top: 2.5%;
    padding-bottom: 1.25%;
}
.banner-start-reserveren
{
    width: 100%;
    height: fit-content ;
    border: 5px solid #333;
}
.header-start-reserveren 
{
    padding-left  : 42%;
    padding-top: 1.25%;
    // margin-top    : 3%;
}

.header-streep-reserveren {
    width       : 70%;
    padding-left: 25%;
}

.content-start-reserveren
{
    padding-left: 2.5%;
    padding-right: 5%;
    padding-top: 1.25%;
}

.col-l
{
    width: 50%;
}

.titels-start-reserveren
{
  border: #333 1px solid;
  color: white;
  background-color: #ff8000;
  font-size: 175%; 
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1.25%;
}

.p_welkom-start-reserveren {
    display: inline-block;
    width  : 100%;
    text-align: center;
}

.button-menukaart-positie{
    padding-left: 30%;
    padding-top: 2.5%;
}
.button-menukaart {
    width           : 10rem;
    height          : 3rem;
    background-color: white;
    color           : #333;
    border          : #333 1px solid;
    font-family     : 'Libre Baskerville', serif;
    text-align      : center;
    font-size       : 25px;
    padding-top     : 1%;
    text-decoration : none;
  
}

.button-menukaart:hover
{
    background-color: #ff8000;
    color: white;
}



.buttons-reserveren-hoogte
{
    padding-top   : 5%;
    width: 100%;
}

.lunch-button-uitlijning
{
    width  : 50%;
    text-align: center;
}

.button-lunch_diner 
{
    width           : 100%;
    height          : 3rem;
    background-color: white;
    color           : #333;
    border          : #333 1px solid;
    font-family     : 'Libre Baskerville', serif;
    text-align      : center;
    font-size       : 25px;
    padding-top     : 1%;
    text-decoration : none;
  
}

.button-lunch_diner:hover
{
    background-color: #ff8000;
    color: white;
}

.hoofd-tekst-titel-reserveren
{
    padding-bottom: 5%;
}

.col-button-reserveren-uitlijning
{
    width: 100%;
    padding-bottom: 5%;
}

.col-buttons-reserveren
{
    width: 50%;
}

.foto-start-reserveren
{
    width: 100%;
    height: 65%;
    border: 5px solid #333;
    margin-right: auto;
    margin-left: auto;
}
// lunch reserveren design
.hoofd-reserveren-lunch
{
    padding-top: 2.5%;
    padding-bottom: 3%;
}

.banner-reserveren-lunch
{
    width: 100%;
    height: fit-content ;
    border: 5px solid #333;
}

.header-reserveren-lunch
{
    padding-top: 1.25%;
    text-align: center;
}

.content-reserveren-lunch
{
    padding-left: 2.5%;
}



.label {
    font-size     : 150%;
    color         : #333;
    padding-bottom: 2%;
}

.label1 {
    font-size     : 150%;
    color         : #ff8000;
    padding-bottom: 1%;
    // width      : 50%;
}

.date {
    // font-size: 100%;
    color           : #e3e3e3;
    background-color: #ff8000;
    // width        : 27.5%;
    // padding-left : 3%;
}

.time {
    font-size   : 100%;
    color       : #ff8000;
    // width    : 20%;
    padding-left: 2.5%;
}

.persons {
    font-size   : 100%;
    color       : #ff8000;
    width       : 15%;
    padding-left: 5%;
}

.button-form1 {
    width           : 15rem;
    height          : 3rem;
    background-color: white;
    color           : #333;
    border          : #333 1px solid;
    font-family     : 'Libre Baskerville', serif;
    text-align      : center;
    font-size       : 100%;
    padding-top     : 1%;
    text-decoration : none;
}



button:hover {
    color           : #e3e3e3;
    background-color: #ff8000;
}

.button-hoogte {
    padding-top: 5%;
}

.spelen {
    padding-left  : 10%;
    padding-bottom: 5%;
    border        : solid 1px;
    width         : 65%;
}

// klantgegevens reserveren invullen stylen

.spelen1 {
    // padding-left: 10%;
    padding-bottom: 5%;
    text-align    : center;
    border        : solid 1px;
    width         : 75%;
    height        : 100%;
}

.firstname {
    color           : #e3e3e3;
    background-color: #ff8000;
    width           : 75%;
    text-align      : center;
    font-size       : 1rem;
}

.infix {
    color           : #e3e3e3;
    background-color: #ff8000;
    width           : 37.5%;
    text-align      : center;
}

.lastname {
    color           : #e3e3e3;
    background-color: #ff8000;
    width           : 75%;
    text-align      : center;
}

.email-c {
    color           : #e3e3e3;
    background-color: #ff8000;
    width           : 75%;
    text-align      : center;
}

::placeholder {
    color     : #e3e3e3;
    font-size : 100%;
    text-align: center;
}

.tel {
    color           : #e3e3e3;
    background-color: #ff8000;
    width           : 37.5%;
    text-align      : center;
}