$normalfont: 'Libre Baskerville';

$main: rgba(255,255,255,1); // Background: Nav, Buttons and Page Content
$text: rgba(51,51,51,1); // Text: Font and Logo

$col1: rgba(255,128,0,1); // Hover: Buttons, Banner: Overlay
$col2: rgba(255,128,0,.2); // Hover: Nav
$col3: rgba(255,128,0,1); // Line: Logo and Title

$black: rgba(0,0,0,1); // Hover: Nav Text, Borders: Buttons
$black9: rgba(0,0,0,.9);
$alpha: rgba(0,0,0,0); // Banner: Overlay

$color: rgb(255, 128, 0);