html, body {
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    background: white;
    color: black;
    font-family: 'Libre Baskerville', 'Times New Roman', sans-serif;
    font-size: 18px;
    min-height: 100%;

    > content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0rem;
        padding: 0rem;
        width: 100%;
        margin-bottom: 3rem;
    }
}

body * {
    display: block;
}