.topnav {
    height: 50px;
    background-color: white;
    overflow: hidden;
    a {
        float: left;
        color: black;
        font-family: 'Libre Baskerville', serif;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 125%;
    }
}