header {
    position: relative;
    height: 4rem;

    > nav {
        background: white;
        position: relative;
        width: 100%;
        z-index: 2;

        > ul {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0rem;
            padding: 0rem;
            width: 100%;
            list-style-type: none;

            > li {
                width: 33%;

                > a {
                    margin: 0rem;
                    padding: 0rem;
                    width: 100%;
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    color: black;
                    font-size: 1.1rem;
                    height: 3rem;
                    text-decoration: none;
                }
            }
        }
    }
}