ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7a715b;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #ffefc7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


ul.topnav li.right {float: right;}